@use 'fonts';
@use 'vars';
@use 'mixins';

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: clamp(1rem, 1.5rem, 2rem);
  font-family: Poppins, Helvetica, sans-serif;
  line-height: 1;
  position: relative;
  background: var(--black);
  color: var(--white);
  min-height: 100vh;
  scrollbar-gutter: stable;

  @include tablet {
    font-size: clamp(1rem, 1.3rem, 1.5rem);
  }

  &::before {
    @include noise;
  }

  @include scrollbar;
}

main {
  min-height: calc(100vh + 2rem);
  padding-bottom: 2rem;
  overflow: hidden;
}

h1 {
  font-family: Anton, Helvetica, sans-serif;
  font-size: 3.6rem;
  font-weight: 400;
  text-transform: uppercase;
}

h2 {
  font-family: Poppins, Helvetica, sans-serif;
  font-size: 2.8rem;
  font-weight: 800;
  text-transform: uppercase;
  
  @include tablet {
    font-size: 2.4rem;
  }
}

h3 {
  font-family: Poppins, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: 300;
}

p {
  letter-spacing: 2px;
  line-height: 1.5;
  font-size: .8rem;
}

ul {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  line-height: 1.5;
  list-style-type: none;
  font-size: .8rem;

  li {
    letter-spacing: 2px;
    position: relative;
    padding-left: 1rem;

    &::before {
      content: "";
      position: absolute;
      top: .5rem;
      left: 0;
      height: .25rem;
      width: .25rem;
      border-radius: 100%;
      background: var(--white);
    }
  }
}

a {
  text-decoration: none;
  color: var(--white);
}

b {
  font-weight: 700;
}

.container {
  padding: 0 1rem;
}

.hoverable {
  cursor: pointer;
}
